module.exports = {
  MYSQL_DB: {
    host: '',
    port: '',
    database: '',
    user: '',
    password: '',
    dialect: 'mysql',
    pool: {
        max: 20,
        min: 0,
        idle: 10000
    }
  },

  REDIS: {
  }
}